doctype html
html
  head
    title About Us - Course Recommendation System
    link(rel="stylesheet", href="/stylesheets/styles.css")
  body
    .navbar.navbar-light
      .container
        .navbar-header
          a.navbar-brand(href='/') Home
        .navbar-nav
          li.nav-item
            a.nav-link(href='/courses') Courses
          li.nav-item
            a.nav-link(href='/about') About Us
    .container
      h1.about-title About Us
      p.about-description Welcome to the Course Recommendation System, where we help you find the best courses to enhance your skills.
      p.about-mission Our mission is to provide easy access to quality education resources.

    footer
      p.footer-text &copy; 2024 Last Minute Learners

